<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tienda Keyrus</title>
</head>
<body >
<div align="center" >
    <table>
        <tr>
            <td>
               <h1>Productos</h1>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/productAll}">Lista de productos</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/newProduct}">Nuevo Producto</a>
            </td>
        </tr>
        <tr>
            <td>
                    Codigo:
                </td>
                <td>
                    <input th:type="text" id="codigo"/>
                </td>
                 <td>
                     <a href="javascript:var Codigo = document.getElementById('codigo').value; window.location = 'productDetail?id=' + Codigo;">Buscar</a>
                </td>

        </tr>
    </table>
</div>
</body>
</html>